/* Appbar.css */

.app-bar {
    background-color: #526D8A; /* Пример цвета фона */
    color: #fff; /* Пример цвета текста */
    padding: 10px 20px; /* Пример внутренних отступов */
    width: 100%; /* Пример ширины */
    position: fixed; /* Пример фиксированной позиции */
    top: 0; /* Пример отступа сверху */
    left: 0; /* Пример отступа слева */
    display: flex; /* Пример использования flexbox */
    align-items: center; /* Пример выравнивания по центру */
    height: 50px; /* Пример высоты */
	gap: 10px;
	z-index: 2;
  }
  
  .menu {
    margin-left: auto; /* Пример левого отступа для меню */
  }
  