/* Modal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    position: relative; /* Добавлено для позиционирования кнопки закрытия */
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
  }
  
  .modal-body {
    display: flex;
  }
  
  .modal-image {
    flex: 1; 
    margin-right: 20px; 
  }
  
  .modal-info {
    flex: 2; /* Ширина текстовой части */
  }
  